<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566802818676-af50fhe86j05gsf22vcrpu5o25re8g0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566802818676-af50fhe86j05gsf22vcrpu5o25re8g0h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>566802818676-39hq76nlgjm52m90gv76dief0alqouc8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOcGWJwmFU43ydECj-musq59uE5Wtnx-w</string>
	<key>GCM_SENDER_ID</key>
	<string>566802818676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sarri.sarri-ride</string>
	<key>PROJECT_ID</key>
	<string>sarri-ride-7aced</string>
	<key>STORAGE_BUCKET</key>
	<string>sarri-ride-7aced.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566802818676:ios:ab316fe512256646169321</string>
</dict>
</plist>